{% extends "../parent.html" %} {% block header %}
<link rel="stylesheet" href="../../public/css/home.css" />
{% endblock %} {% block content %}
<div style="width: 100%;height: calc(100vh - 100px);overflow: auto">
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" width="50" style="text-align: center">序号</th>
                <th scope="col">包名</th>
                <th scope="col">描述</th>
                <th scope="col" width="100">贡献者</th>
                <th scope="col" width="165">创建时间</th>
                <th scope="col" width="50">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in packages %}
            <tr>
                <th scope="row" width="50" style="text-align: center">
                    {{ pkg.key }}
                </th>
                <td>{{ pkg.name }}</td>
                <td>{{ pkg.description }}</td>
                <td width="100">{{pkg.contributor}}</td>
                <td width="120">{{pkg.createTime}}</td>
                <td><a href="/query?id={{ pkg.id }}">进入</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul
        class="pagination pagination-sm justify-content-end"
        style="text-align: center;padding: 8px 11px 8px 8px"
    >
        <li class="page-item">
            <a class="page-link" href="?page={{prevPage}}" tabindex="-1" aria-disabled="true"
                >上一页</a
            >
        </li>
        {% for p in pages %} {% if page === p %}
        <li class="page-item active">{% else %}</li>
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{p}}">{{ p }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
            <a class="page-link" href="?page={{nextPage}}">下一页</a>
        </li>
    </ul>
</nav>
{% endblock %}
