<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/bootstrap-icons.css" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <script src="/public/js/popper.min.js" defer="defer"></script>
        <script src="/public/js/jquery.min.js" defer="defer"></script>
        <script src="/public/js/bootstrap.min.js" defer="defer"></script>
        <script src="/public/js/home/index.js" defer="defer"></script>
        {% block header %} {% endblock %}
    </head>
    <body>
        <header>
            <img
                src="http://xhdev.docimaxvip.com/img/logo-small.png"
                alt="logo.png"
                style="margin: 10px 8px 0px 25px"
                width="32"
                height="32"
            />
            <!-- <h1
                style="
                    margin: 0;
                    font-size: 1.345em;
                    line-height: 50px;
                    color: #fff;
                "
            >
                首页统计
            </h1> -->

            <div style="flex: 1; display: flex; padding-left: 20px">
                <a
                    href="/"
                    style="line-height: 50px; color: #fff; margin-right: 12px"
                    >查询包列表</a
                >
                <a
                    href="/query"
                    style="line-height: 50px; color: #fff; margin-right: 12px"
                    >查询包</a
                >
                <a
                    href="/condition"
                    style="line-height: 50px; color: #fff; margin-right: 12px"
                    >条件配置 <sub>dev</sub> </a
                >
                <!-- <a
                    href="/task"
                    style="line-height: 50px; color: #fff; margin-right: 12px"
                    >任务列表</a
                > -->
            </div>

            <!-- <div>
                <a
                    class="btn"
                    style="
                        position: relative;
                        top: 5px;
                        right: 3px;
                        padding-top: 10px;
                    "
                    href="/task"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i
                        class="bi bi-envelope-fill"
                        style="font-size: 24px; color: #fff"
                    ></i>
                    <span id="notificationCount" class="badge badge-light badge--lt"></span>
                </a>

                <div
                    id="notificationList"
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="dropdownMenuLink"
                ></div>
            </div> -->
        </header>
        {% block content %} {% endblock %}
    </body>
</html>
