{% extends "../parent.html" %} {% block header %} {% endblock %} {% block
content %}
<div style="margin: 8px 0">
    <label for="searchId" style="margin: 0 8px 0 0">检索编号</label
    ><input
        type="text"
        id="searchId"
        placeholder="输入检索编号"
        class="form-control form-control-sm"
        style="width: 256px; display: inline-block"
    />
</div>

<table class="table table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" width="50" style="text-align: center">序号</th>
            <th scope="col">检索编号</th>
            <th scope="col">任务描述</th>
            <th scope="col">创建时间</th>
            <th scope="col">任务耗时</th>
            <th scope="col" width="100">完成状态</th>
            <th scope="col" width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" width="50" style="text-align: center">1</th>
            <td>8e1b6af1e38f6bc3</td>
            <td>2018年费用信息</td>
            <td>2020-12-31 12:32:21</td>
            <td>300s</td>
            <td><span class="badge badge-success">completed</span></td>
            <td><a href="/result?id=xxx">查看</a></td>
        </tr>
        <tr>
            <th scope="row" width="50" style="text-align: center">2</th>
            <td>1e6411ddddbc8d5c</td>
            <td>2018年费用信息</td>
            <td>2020-12-31 12:32:21</td>
            <td>9123s</td>
            <td><span class="badge badge-danger">error</span></td>
            <td><a href="/result?id=xxx" style="display: none">查看</a></td>
        </tr>
        <tr>
            <th scope="row" width="50" style="text-align: center">3</th>
            <td>6015ddb0d68321ef</td>
            <td>2018年费用信息</td>
            <td>2020-12-31 12:32:21</td>
            <td>---</td>
            <td><span class="badge badge-warning">running</span></td>
            <td><a href="/result?id=xxx" style="display: none">查看</a></td>
        </tr>
        <tr>
            <th scope="row" width="50" style="text-align: center">3</th>
            <td>4352efcde16093f5</td>
            <td>生产diff宫颈癌</td>
            <td>2020-12-31 14:12:56</td>
            <td>---</td>
            <td><span class="badge badge-warning">running</span></td>
            <td><a href="/result?id=xxx" style="display: none">查看</a></td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul
        class="pagination pagination-sm justify-content-end"
        style="text-align: center"
    >
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                >上一页</a
            >
        </li>
        {% for p in pages %} {% if page === p %}
        <li class="page-item active">{% else %}</li>
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{p}}">{{ p }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
            <a class="page-link" href="#">下一页</a>
        </li>
    </ul>
</nav>
{% endblock %}
