.condition-list {
  flex: 1;
}
.condition-list > li {
  display: flex;
  margin-bottom: 4px;
}
.condition-list__item {
  flex: 1;
  margin-right: 4px;
}
.condition-list__name {
  flex: 0 0 256px;
  margin-right: 4px;
  height: 31px;
  text-align: center;
  border: var(--border);
}
.condition-tag {
  position: fixed;
  padding: 0;
  top: 55px;
  right: 0px;
  width: 24px;
  text-align: center;
}
.condition-tag > li {
  margin-bottom: 4px;
  padding: 2px 0;
  line-height: 20px;
  background-color: #ddd;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
.condition-tag > li:hover {
  background-color: #ccc;
}

.btn-icon {
  font-size: 32px;
  cursor: pointer;
}
.btn-icon:active {
  background-color: #f4f4f8;
}
.condition-tag-list {
  width: 256px;
}
